EEDMO_TRANSLATION_X -0.152297
EEDMO_TRANSLATION_Y 0.0704998
EEDMO_TRANSLATION_Z 0.418871
EEDMO_QUARTENION_X 0.792236
EEDMO_QUARTENION_Y 0.606714
EEDMO_QUARTENION_Z 0.0647956
EEDMO_QUARTENION_W -0.00782235
WMLZERO_TRANSLATION_X 0.218
WMLZERO_TRANSLATION_Y -0.164
WMLZERO_TRANSLATION_Z 0.169
WMLZERO_QUARTENION_X -0.049
WMLZERO_QUARTENION_Y -0.013
WMLZERO_QUARTENION_Z 0.722
WMLZERO_QUARTENION_W 0.69
STARTING_WMEE_X 0.192046
STARTING_WMEE_Y 0.480491
STARTING_WMEE_Z 0.546218
BOUNDING_BOX_X_forward 0.01
BOUNDING_BOX_X_backward 0.1
BOUNDING_BOX_Y_left 0.075
BOUNDING_BOX_Y_right 0.075
BOUNDING_BOX_Z_up 0.01
BOUNDING_BOX_Z_down 0.05