EEDMO_TRANSLATION_X -0.0280796
EEDMO_TRANSLATION_Y 0.0166421
EEDMO_TRANSLATION_Z -0.00624376
EEDMO_QUARTENION_X 0.700972
EEDMO_QUARTENION_Y 0.702149
EEDMO_QUARTENION_Z 0.124076
EEDMO_QUARTENION_W 0.0151886
WMLZERO_TRANSLATION_X 0.045
WMLZERO_TRANSLATION_Y -0.076
WMLZERO_TRANSLATION_Z 0.255
WMLZERO_QUARTENION_X -0.03
WMLZERO_QUARTENION_Y 0.014
WMLZERO_QUARTENION_Z 0.719
WMLZERO_QUARTENION_W 0.694
STARTING_WMEE_X 0.206104
STARTING_WMEE_Y 0.45978
STARTING_WMEE_Z 0.402654
BOUNDING_BOX_X_forward 0.03
BOUNDING_BOX_X_backward 0.065
BOUNDING_BOX_Y_left 0.03
BOUNDING_BOX_Y_right 0.04
BOUNDING_BOX_Z_up 0.025
BOUNDING_BOX_Z_down 0.05