EEDMO_TRANSLATION_X -0.00523972
EEDMO_TRANSLATION_Y 0.00294648
EEDMO_TRANSLATION_Z -0.0122927
EEDMO_QUARTENION_X 0.297072
EEDMO_QUARTENION_Y 0.939583
EEDMO_QUARTENION_Z 0.114521
EEDMO_QUARTENION_W 0.125769
WMLZERO_TRANSLATION_X 0.045
WMLZERO_TRANSLATION_Y -0.076
WMLZERO_TRANSLATION_Z 0.255
WMLZERO_QUARTENION_X -0.03
WMLZERO_QUARTENION_Y 0.014
WMLZERO_QUARTENION_Z 0.719
WMLZERO_QUARTENION_W 0.694
STARTING_WMEE_X 0.174295
STARTING_WMEE_Y 0.534481
STARTING_WMEE_Z 0.416376
BOUNDING_BOX_X_forward 0.05
BOUNDING_BOX_X_backward 0.065
BOUNDING_BOX_Y_left 0.03
BOUNDING_BOX_Y_right 0.04
BOUNDING_BOX_Z_up 0.02
BOUNDING_BOX_Z_down 0.02
WMO_TX 0.180105
WMO_TY 0.538349
WMO_TZ 0.428164
WMO_RX -0.121895
WMO_RY -0.0912406
WMO_RZ 0.327532
WMO_RW 0.932491