EEDMO_TRANSLATION_X -0.0407375
EEDMO_TRANSLATION_Y 0.0431721
EEDMO_TRANSLATION_Z -0.125518
EEDMO_QUARTENION_X 0.688242
EEDMO_QUARTENION_Y 0.689316
EEDMO_QUARTENION_Z 0.19686
EEDMO_QUARTENION_W 0.11141
WMLZERO_TRANSLATION_X 0.218
WMLZERO_TRANSLATION_Y -0.164
WMLZERO_TRANSLATION_Z 0.169
WMLZERO_QUARTENION_X -0.049
WMLZERO_QUARTENION_Y -0.013
WMLZERO_QUARTENION_Z 0.722
WMLZERO_QUARTENION_W 0.69
STARTING_WMEE_X 0.25189
STARTING_WMEE_Y 0.48213
STARTING_WMEE_Z 0.445627
BOUNDING_BOX_X_forward 0.01
BOUNDING_BOX_X_backward 0.1
BOUNDING_BOX_Y_left 0.1
BOUNDING_BOX_Y_right 0.1
BOUNDING_BOX_Z_up 0.01
BOUNDING_BOX_Z_down 0.05