EEDMO_TRANSLATION_X 0.0325819
EEDMO_TRANSLATION_Y -0.00568621
EEDMO_TRANSLATION_Z 0.0173406
EEDMO_QUARTENION_X 0.299591
EEDMO_QUARTENION_Y 0.929851
EEDMO_QUARTENION_Z 0.169669
EEDMO_QUARTENION_W 0.129751
WMLZERO_TRANSLATION_X 0.045
WMLZERO_TRANSLATION_Y -0.076
WMLZERO_TRANSLATION_Z 0.255
WMLZERO_QUARTENION_X -0.03
WMLZERO_QUARTENION_Y 0.014
WMLZERO_QUARTENION_Z 0.719
WMLZERO_QUARTENION_W 0.694
STARTING_WMEE_X 0.186406
STARTING_WMEE_Y 0.560328
STARTING_WMEE_Z 0.446984
BOUNDING_BOX_X_forward 0.05
BOUNDING_BOX_X_backward 0.065
BOUNDING_BOX_Y_left 0.02
BOUNDING_BOX_Y_right 0.04
BOUNDING_BOX_Z_up 0.02
BOUNDING_BOX_Z_down 0.02
WMO_TX 0.152565
WMO_TY 0.551739
WMO_TZ 0.433773
WMO_RX -0.164331
WMO_RY -0.0761811
WMO_RZ 0.344317
WMO_RW 0.921215