EEDMO_TRANSLATION_X 0.0152635
EEDMO_TRANSLATION_Y 1.83721e-05
EEDMO_TRANSLATION_Z 0.00773681
EEDMO_QUARTENION_X 0.676695
EEDMO_QUARTENION_Y 0.683093
EEDMO_QUARTENION_Z 0.209715
EEDMO_QUARTENION_W 0.177449
WMLZERO_TRANSLATION_X 0.045
WMLZERO_TRANSLATION_Y -0.076
WMLZERO_TRANSLATION_Z 0.255
WMLZERO_QUARTENION_X -0.03
WMLZERO_QUARTENION_Y 0.014
WMLZERO_QUARTENION_Z 0.719
WMLZERO_QUARTENION_W 0.694
STARTING_WMEE_X 0.256705
STARTING_WMEE_Y 0.515875
STARTING_WMEE_Z 0.445301
BOUNDING_BOX_X_forward 0.05
BOUNDING_BOX_X_backward 0.065
BOUNDING_BOX_Y_left 0.03
BOUNDING_BOX_Y_right 0.04
BOUNDING_BOX_Z_up 0.02
BOUNDING_BOX_Z_down 0.02
WMO_R -0.225124
WMO_P 0.110363
WMO_Y 1.5983