collision_model = none
mass = 2.24

flange_x = -0.04861
flange_y = 0.05987
flange_z = 0.1313

----   matrices [row][column]  ----

inertia_tensor[0][0] = 0.048
inertia_tensor[1][0] = 0.004
inertia_tensor[2][0] = 0.009

inertia_tensor[0][1] = 0.004
inertia_tensor[1][1] = 0.046
inertia_tensor[2][1] = 0.01

inertia_tensor[0][2] = 0.009
inertia_tensor[1][2] = 0.01
inertia_tensor[2][2] = 0.022


transf_mtrix_flange[0][0] = 0.7071
transf_mtrix_flange[1][0] = -0.7071
transf_mtrix_flange[2][0] = 0
transf_mtrix_flange[3][0] = 0

transf_mtrix_flange[0][1] = 0.7071
transf_mtrix_flange[1][1] = 0.7071
transf_mtrix_flange[2][1] = 0
transf_mtrix_flange[3][1] = 0

transf_mtrix_flange[0][2] = 0
transf_mtrix_flange[1][2] = 0
transf_mtrix_flange[2][2] = 1
transf_mtrix_flange[3][2] = 0

transf_mtrix_flange[0][3] = -0.21316
transf_mtrix_flange[1][3] = 0.213089
transf_mtrix_flange[2][3] = 0.1835
transf_mtrix_flange[3][3] = 1